<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Site</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class="container">
    <header id="main_header"><h1>Recipe Site</h1></header>
    <header id="secondary_header"><nav>
      <a class="header_button" href="/home">Home</a>
      <a class="header_button" href="/recipes">Recipes</a>
      <a class="header_button" href="/add-recipe">Add a Recipe</a>
    </nav></header>
